---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-rounded zoombtn animated rotateIn">
                    </a>
                   <hr class="hr-line">
                   <h3 class="title">
                      summary
                      <p style="font-size:1rem;font-weight:300">While growing up on the rough streets of Newark, New Jersey, Rameck, George,
                      and Sampson could easily have followed their childhood friends into drug dealing, gangs, and prison.  But when a 
                      presentation at their school made the three boys aware of the opportunities available to them in the medical and 
                      dental professions, they made a pact among themselves that they would become doctors.</p>
                      Why I chose this book
                      <p style="font-size:1rem;font-weight:300">I chose this book because I thought it was interesting that 3 friends 
                      from a poor neighborhood were abe to have their dream jobs as doctors.</p>
                      historical stuff
                      <p style="font-size:1rem;font-weight:300">]This took place around 70s, and U.S. President Richard Nixon orders 
                      an invasion of Cambodia, widening the war in Vietnam and The Beatles break up</p>
                   </h3>
                   <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         Timeline
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Blogs
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Influential people
                         </a>
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
